* {
  margin: 0;
  padding: 0;
  box-shadow: none;
  font-family: sans-serif;
  font-weight: normal;
}

button {
  background: none;
}

input[type=text] {
  background: none;
  border: none;
  color: white;
}

fieldset {
  border: none;
}

body {
  background: #000;
  color: #fff;
  position: relative;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
/*Edit uncomment this
@import "background";*/
.btn {
  cursor: pointer;
  transition: all ease 0.5s;
}

.btn-close svg, .btn-logout svg {
  fill: #fff;
}

.btn:not(.btn-close, .btn-logout) {
  color: #000;
  padding: 0.2rem;
  border-radius: 10px;
  font-size: large;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-color: #000;
}
.btn:not(.btn-close, .btn-logout):hover {
  box-shadow: 2px 4px 2px #c0c0c0;
  border: 1px solid #fff;
  background: none;
}
.btn:not(.btn-close, .btn-logout) p {
  font-weight: bolder;
}

.btn-login {
  background: #6495ed;
  box-shadow: 2px 4px 2px #6495ed;
}
.btn-login:hover {
  color: #6495ed;
}

.btn-register {
  background: #9370db;
  box-shadow: 2px 4px 2px #9370db;
}
.btn-register:hover {
  color: #9370db;
}

.btn-valid {
  background: #ffff00;
  box-shadow: 2px 4px 2px #ffff00;
}
.btn-valid:hover {
  color: #ffff00;
}

.btn-minus, .btn-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 2rem;
}
.btn-minus svg, .btn-plus svg {
  width: 50%;
}

.btn-reset {
  padding: 1rem;
  background: #4c679c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 8rem;
}
.btn-reset:hover {
  color: #dc143c;
}
.btn-reset:hover svg {
  fill: #dc143c;
}
.btn-reset span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
}
.btn-reset span svg {
  fill: #000;
}
.btn-reset h4 {
  font-weight: bold;
}

.btn-valid-reset, .btn-cancel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 3rem;
}
.btn-valid-reset h5, .btn-cancel h5 {
  font-weight: bold;
}
.btn-valid-reset span, .btn-cancel span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-valid-reset span svg {
  width: 1rem;
}
.btn-valid-reset:hover svg {
  fill: #ffff00;
}

.btn-cancel {
  background: #f08080;
  box-shadow: 2px 4px 2px #f08080;
}
.btn-cancel span svg {
  width: 0.7rem;
}
.btn-cancel:hover {
  color: #f08080;
}
.btn-cancel:hover svg {
  fill: #f08080;
}

#response {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 0.4% 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  transform: none;
  height: 1rem;
  transition: height ease 0.5s;
}
#response.hidden {
  transition: height ease 0.5s;
  height: 0rem;
  transform: scale(0);
}
#response.error {
  background: #880000;
}
#response.success {
  background: #008800;
}
#response .response-content {
  width: 25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#response .response-content #response-form {
  font-weight: bolder;
  font-size: x-large;
}
#response .response-content #response-close {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-content {
  position: absolute;
  height: 10rem;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0.5rem;
  transition: height ease 0.5s;
}
#header-content.hidden {
  height: 0;
  width: 0;
  transform: scale(0);
}
#header-content .title-content h1 {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 5s infinite;
}
#header-content .title-content .underline {
  background: red;
  border-radius: 10px;
  height: 0.3rem;
  width: 100%;
  display: block;
  position: relative;
}
#header-content .title-content .underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(var(--rotate), #6495ed 43%, #9370db);
  animation: spin 2.5s linear infinite;
}
#header-content .show-form {
  display: flex;
  justify-content: space-around;
}

.form-home {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50vh;
  left: 50vw;
  width: 22rem;
  height: 11rem;
  transition: height, width ease 0.5s;
}
.form-home.hidden {
  transition: height, width ease 0.5s;
  transform: scale(0);
  height: 0;
  width: 0;
}
.form-home fieldset {
  width: 100%;
  height: 100%;
  position: relative;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  padding: 0.5rem 0;
  box-shadow: 2px 4px 2px #fff;
}
.form-home fieldset .btn-close {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  transform: translate(-50%, -50%);
}
.form-home fieldset legend {
  text-align: center;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 0.5rem;
  box-shadow: 2px 4px 2px #fff;
}
.form-home fieldset .form-content {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.form-home fieldset .form-content input[type=text] {
  border-bottom: 1px solid #fff;
}

#info {
  position: absolute;
  width: 99%;
  transform: none;
  transition: scale ease 0.5s;
}
#info.hidden {
  width: 0;
  height: 0;
  transform: scale(0);
}
#info #deconnexion {
  position: absolute;
  right: 2rem;
  top: 2rem;
  transform: translate(-50%, -50%);
}
#info #deconnexion button {
  width: 2rem;
}
#info #info-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30rem;
  margin-top: 15rem;
  transform: none;
  transition: all ease 0.5s;
}
#info #info-view.hidden {
  width: 0;
  height: 0;
  transform: scale(0);
}
#info #info-view h1 #username {
  text-transform: uppercase;
}
#info #info-view #role-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 99%;
  height: 20rem;
}
#info #info-view #role-content .role {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#info #info-view #role-content .role .role-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 2px solid;
  border-radius: 50px;
  width: 1.5rem;
  height: 1.5rem;
}
#info #info-view #role-content .role .role-icon svg {
  width: 2rem;
  height: 2rem;
}
#info #info-view #role-content .role .role-icon.tank {
  border-left-color: #146FDC;
  border-top-color: #146FDC;
  border-right-color: #14a2dc;
  border-bottom-color: #14a2dc;
}
#info #info-view #role-content .role .role-icon.tank svg {
  fill: #146FDC;
}
#info #info-view #role-content .role .role-icon.dps {
  border-left-color: #DC14A2;
  border-top-color: #DC14A2;
  border-right-color: #dc143c;
  border-bottom-color: #dc143c;
}
#info #info-view #role-content .role .role-icon.dps svg {
  fill: #DC14A2;
}
#info #info-view #role-content .role .role-icon.heal {
  border-left-color: #AFDC14;
  border-top-color: #AFDC14;
  border-right-color: #DCBB14;
  border-bottom-color: #DCBB14;
}
#info #info-view #role-content .role .role-icon.heal svg {
  fill: #AFDC14;
}
#info #info-view #role-content .role fieldset {
  border-radius: 10px;
  width: 15rem;
  height: 10rem;
  display: flex;
  justify-content: space-around;
  position: relative;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
#info #info-view #role-content .role fieldset::before {
  content: "";
  position: absolute;
  width: 15.4rem;
  height: 10.7rem;
  z-index: -1;
  top: -0.3rem;
  border-radius: 10px;
  animation: spin 2.5s linear infinite;
}
#info #info-view #role-content .role fieldset.tank {
  color: #146FDC;
}
#info #info-view #role-content .role fieldset.tank .btn-minus {
  background: #14a2dc;
  box-shadow: 2px 4px 2px #14a2dc;
}
#info #info-view #role-content .role fieldset.tank .btn-minus:hover {
  color: #14a2dc;
  border: none;
  background: none;
}
#info #info-view #role-content .role fieldset.tank .btn-minus:hover svg {
  fill: #14a2dc;
}
#info #info-view #role-content .role fieldset.tank .btn-plus {
  background: #146FDC;
  box-shadow: 2px 4px 2px #146FDC;
}
#info #info-view #role-content .role fieldset.tank .btn-plus:hover {
  color: #146FDC;
  border: none;
  background: none;
}
#info #info-view #role-content .role fieldset.tank .btn-plus:hover svg {
  fill: #146FDC;
}
#info #info-view #role-content .role fieldset.tank:before {
  background-image: linear-gradient(var(--rotate), #146FDC 43%, #14a2dc);
}
#info #info-view #role-content .role fieldset.dps {
  color: #DC14A2;
}
#info #info-view #role-content .role fieldset.dps .btn-minus {
  background: #dc143c;
  box-shadow: 2px 4px 2px #dc143c;
}
#info #info-view #role-content .role fieldset.dps .btn-minus:hover {
  color: #dc143c;
  border: none;
  background: none;
}
#info #info-view #role-content .role fieldset.dps .btn-minus:hover svg {
  fill: #dc143c;
}
#info #info-view #role-content .role fieldset.dps .btn-plus {
  background: #DC14A2;
  box-shadow: 2px 4px 2px #DC14A2;
}
#info #info-view #role-content .role fieldset.dps .btn-plus:hover {
  color: #DC14A2;
  border: none;
  background: none;
}
#info #info-view #role-content .role fieldset.dps .btn-plus:hover svg {
  fill: #DC14A2;
}
#info #info-view #role-content .role fieldset.dps:before {
  background-image: linear-gradient(var(--rotate), #DC14A2 43%, #dc143c);
}
#info #info-view #role-content .role fieldset.heal {
  color: #AFDC14;
}
#info #info-view #role-content .role fieldset.heal .btn-minus {
  background: #DCBB14;
  box-shadow: 2px 4px 2px #DCBB14;
}
#info #info-view #role-content .role fieldset.heal .btn-minus:hover {
  color: #AFDC14;
  border: none;
  background: none;
}
#info #info-view #role-content .role fieldset.heal .btn-minus:hover svg {
  fill: #DCBB14;
}
#info #info-view #role-content .role fieldset.heal .btn-plus {
  background: #AFDC14;
  box-shadow: 2px 4px 2px #AFDC14;
}
#info #info-view #role-content .role fieldset.heal .btn-plus:hover {
  color: #DCBB14;
  border: none;
  background: none;
}
#info #info-view #role-content .role fieldset.heal .btn-plus:hover svg {
  fill: #DCBB14;
}
#info #info-view #role-content .role fieldset.heal:before {
  background-image: linear-gradient(var(--rotate), #AFDC14 43%, #DCBB14);
}
#info #info-view #role-content .role fieldset span {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 3.5rem;
}
#info #info-view #role-content .role fieldset span h3 {
  font-weight: bold;
}
#info #info-view #confirm-popup {
  position: absolute;
  top: 65%;
  border-radius: 10px;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  border: 1px solid;
  padding: 0.5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: none;
  transition: scale ease 0.5s;
}
#info #info-view #confirm-popup.hidden {
  height: 0;
  width: 0;
  transform: scale(0);
}
#info #info-view #confirm-popup .btn-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#info #info-hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
