*{
  margin: 0;
  padding:0;
  box-shadow: none;
  font-family: sans-serif;
  font-weight: normal;
}

button{
  background: none;
}

input[type="text"]{
  background: none;
  border: none;
  color: white;
}

fieldset{
  border:none;
}

body{
  background: #000;
  color: #fff;
  position:relative;
}