<header id="header-content">
	<!--sublink reponse for error or success login & register-->
	<span id="response-form"></span>
	<!--sublink title content-->
	<div class="title-content" id="title">
		<h1>Bienvenue sur HebdoWin</h1>
		<span class="underline"></span>
	</div>
	<!--sublink button content for show form login & register-->
	<span class="show-form">
		<span id="login-btn" class="btn btn-login">Connexion</span>
		<span id="register-btn" class="btn btn-register">S'inscrire</span>
	</span>
</header>